footer{
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	img {
		padding:100px 0;
		padding-bottom: 10px;
	}
	p {
		padding-bottom: 100px;
	}

}